:root,* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Open Sans", serif;
  transition: all 0.8s ease;
}
body{
  background-color: #111827;
}

/*-----APP-----*/
/*TAGS FLEXs*/
main, footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  height: 100vh;
  width: 100%;
  background-color: #111827;
}
main{
  content:'';
  background-image: url(../assets/background.png);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 10% 10% 10% 10% / 1% 1% 1% 1%;
  padding :50px 0px;
  flex-direction: column;
}
footer{
  height: 150px;
  background-color:#111827;
  justify-content: space-around;
}


/*-----COMPONENTES-----*/
/*DIVs FLEX*/
.menu-tel, .links-menu-tel, .menu, .links, .sobre, .mini-sobre, .linguagens, .projetos-postados, .container-projetos, .projeto, .empresa, .descricao {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  width: 100%;
  padding-top: 50px;
  justify-content: space-between;
}
.detalhe, .detalhe2{
  height: 5px;
  width: 500px;
  background-color: rgb(0, 174, 255);
  border-radius: 5px;
}
.links{
  padding: 10px;
  gap: 30px;
  margin-right: 100px;
  background-color: rgba(128, 128, 128, 0.185);
  border-radius: 5px;
}
.links a, .links-menu-tel a {
  text-decoration: none;
  color: #F9FAFB;
  
  &:hover{
    color: #8a8989;
  }
}
/*TITULOS */
.T1, .T2{
  font-family: "Raleway", serif;
  font-size: 150px;
  color: #F9FAFB;
  letter-spacing: 4px;
  position: absolute;
  font-weight: 400;
}
.T1{
  top: 150px;
  left: 150px;
  animation-delay: 5s;
  animation: aparecer 5s ease-in-out;
}
.T2{
  bottom: 150px;
  right: 150px;
  animation: aparecer 5s ease-in-out;
}
.detalhe2{
  position: absolute;
  bottom: 50px;
  right: 0px;
}

/*MENU PARA TELEFONE*/
.menu-hamburguer{
  display: none;
  color: #F9FAFB;
  font-size: 25px;
  filter: drop-shadow(0px 0px 3px rgb(0, 174, 255));
}
.menu-tel{
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: +3;
  background-color: #1b1a1a79;
  backdrop-filter: blur(10px);
}
.fechar{
  color: #F9FAFB;
  font-size: 30px;

  &:hover{
    color: red;
  }
}
.links-menu-tel{
  flex-direction: column;
  gap: 50px;
  font-size: 20px;
}

/*SOBRE*/
#sobre{
  font-family: "Raleway", serif;
  font-weight: 400;
  color: #F9FAFB;
  margin-bottom: 50px;
}
.sobre{
  gap: 20px;
}
.icone-sobre{
  height: 400px;
  animation: movimento 5s alternate infinite;
}
.sobre-texto{
  width: 550px;
  font-size: 18px;
  color: #F9FAFB;
}
.mini-sobre{
  margin-top: 34px;
  justify-content: start;
  gap: 4px;

  & nav{
    height: 5px;
    width: 15px;
    background-color: rgb(0, 174, 255);
    border-radius:5px;
  }
  & h2{
    font-weight: 500;
    font-family: "Raleway", serif;
  }
  
}
.linguagens{
  margin-top: 7px;
  gap: 15px;
  justify-content: start;
  & svg{
    color: #005EFF;
    font-size: 35px;
    filter: drop-shadow(0px 0px 3px black);
    &:hover{
      filter: drop-shadow(0px 0px 15px  rgb(0, 174, 255));
    }
  }
}

/*PROJETOS*/
#projetos{
  font-family: "Raleway", serif;
  font-weight: 400;
  color: #F9FAFB;
  margin: 150px 0px 20px 0px;
}
.projetos-postados{
  margin-bottom: 50px;
  gap: 5px;
  padding: 10px;
  border: 1px solid rgb(243, 233, 216);
  & span{
    color: #F9FAFB;
  }
}
.container-projetos{
  gap: 50px;
  flex-wrap: wrap;
}
.projeto{
  height: 100%;
  width: 650px;
  gap: 100px;
  box-shadow: 0px 0px 10px #F9FAFB;
  padding: 20px;
  border-radius: 5px;
  backdrop-filter: blur(5px);
}
#postado::before{
  content: '';
  position: absolute;
  background-image: url(../assets/estrela.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 30px;
  height: 100%;
  width: 100%;
}
.empresa, .descricao{
  flex-direction: column;
  gap: 15px;

  & img{
    height: 150px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 5px rgb(0, 174, 255));
  }
  & h1{
    font-size: 20px;
    font-family: "Raleway", serif;
    color: #F9FAFB;
    font-weight: 400;
  } 
  & p{
    color: #F9FAFB;
    text-align: center;
    width: 250px;
  }
  & a{
    z-index: +1;
    color: rgb(0, 174, 255);
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}


/*FOOTER*/
.logo{
  height: 120px;
  border-radius: 50%;
}
.frase{
  color: #F9FAFB;
  font-size: 20px;
}